In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

Question 1 
------------------------------------------------------------------------------

In [205]:
data = pd.read_csv("data/25_Portfolios_5x5.csv",skiprows=15,index_col="DATE",parse_dates=True,nrows=1134)
data = data.dropna()
data.index = pd.to_datetime(data.index,format="%Y%m")
factors = pd.read_csv("data/F-F_Research_Data_Factors.csv",skiprows=3,index_col=0,parse_dates=True,nrows=1134)
factors = factors.dropna()
factors.index = pd.to_datetime(factors.index,format="%Y%m")
rm = factors["Mkt-RF"]
rf = factors["RF"]

In [206]:
data = data["1963-07-01":"2020-06-01"]
rm = rm["1963-07-01":"2020-06-01"]
rf = rf["1963-07-01":"2020-06-01"]

In [202]:
arith_mean = data.mean(0)
simple_mean = pd.DataFrame(np.zeros((5,5)),index=["SMALL","ME2","ME3","ME4","BIG"],columns=["LoBM","BM2","BM3","BM4","HiBM"])
for r in range(0,5):
    for c in range(0,5):
        n = r * 5 + c
        simple_mean.iloc[r,c] = arith_mean[n]
simple_mean = simple_mean.round(2)
#print(simple_mean.to_latex())
simple_mean

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.67  1.17  1.13  1.31  1.39
ME2    0.89  1.13  1.22  1.22  1.30
ME3    0.92  1.16  1.09  1.23  1.29
ME4    1.02  0.99  1.05  1.17  1.17
BIG    0.92  0.89  0.92  0.85  0.98

In [210]:
betas = ((simple_mean - rf.mean() )/ rm.mean()).round(2)
betas

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.55  1.48  1.41  1.74  1.89
ME2    0.96  1.41  1.57  1.57  1.72
ME3    1.01  1.46  1.33  1.59  1.70
ME4    1.20  1.14  1.26  1.48  1.48
BIG    1.01  0.96  1.01  0.88  1.13

In [212]:
# Standard deviation
stds = data.std(0)
std_dev = pd.DataFrame(np.zeros((5,5)),index=["SMALL","ME2","ME3","ME4","BIG"],columns=["LoBM","BM2","BM3","BM4","HiBM"])
for r in range(0,5):
    for c in range(0,5):
        n = r * 5 + c
        std_dev.iloc[r,c] = stds[n]
std_dev = std_dev.round(2)
#print(simple_mean.to_latex())
std_dev

       LoBM   BM2   BM3   BM4  HiBM
SMALL  7.92  6.95  6.02  5.78  6.06
ME2    7.16  6.02  5.45  5.33  6.18
ME3    6.57  5.49  5.01  5.05  5.79
ME4    5.87  5.14  4.99  4.97  5.76
BIG    4.60  4.41  4.31  4.72  5.57

In [225]:
# Sharpe ratio
sharpe = ((simple_mean - rf.mean())/std_dev) * np.sqrt(12)
sharpe.round(2)

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.13  0.40  0.43  0.56  0.58
ME2    0.25  0.43  0.54  0.55  0.52
ME3    0.29  0.49  0.49  0.59  0.55
ME4    0.38  0.41  0.47  0.55  0.48
BIG    0.41  0.40  0.44  0.35  0.38

In [228]:
tstats = (simple_mean / std_dev ).round(2)
tstats

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.08  0.17  0.19  0.23  0.23
ME2    0.12  0.19  0.22  0.23  0.21
ME3    0.14  0.21  0.22  0.24  0.22
ME4    0.17  0.19  0.21  0.24  0.20
BIG    0.20  0.20  0.21  0.18  0.18